.container {
    border: 1px solid #808080;
    border-radius: 5px;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center; /* * center horizontally */
    align-items: center;     /* * center vertically */
    flex-direction: column;
    text-align: center;
    padding-bottom: 3vh;
    color: #808080;
}

.cases,.today-cases {
    color: #ff0000;
}

.recovered {
    color: #77dd77;
}

