.container {
    border: 1px solid #808080;
    border-radius: 5px;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center; /* * center horizontally */
    align-items: center;     /* * center vertically */
    flex-direction: column;
    text-align: center;
    padding-bottom: 3vh;
    color: #808080;
}

/* h1 {
    font-size: 3.5em;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    margin-bottom: 3.2vh;
    line-height: 1.2;
} */

.cases,.today-cases {
    color: #ff0000;
}

.recovered {
    color: #77dd77;
}

